* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  body {
    font-family: 'Roboto', 'Oxygen', sans-serif;
    color: white;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 'header main';
  }
  
  header {
    background-color: #bc1823;
    height: 100vh;
    grid-area: header;
  }
  
  .menu {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    margin-top: 10px;
  }
  
  .botoes {
    width: 100%;
    margin-top: 30px;
  }
  
  ul li a {
    list-style: none;
    background-color: #ff9a00;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  ul li a p {
    width: 50%;
    margin-left: 10px;
  }
  
  .icon {
    width: 20px;
  }
  
  .logo {
    position: relative;
  }
  
  .logo2 {
    position: absolute;
    top: 345px;
  }
  
  main {
    grid-area: main;
  }
/*Final Template Padrão*/

#cabecalho2{
    background-color: #bc1823;
    height: 50px;
    display: flex;
}
#cabecalhoFinanceiro{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

#square1{
    color: #ff9a00;
    height: 300px;
    margin: 15px;
    border-color: #bc1823;
    border: 2px solid #bc1823;

}
#texto{
    align-items: center;
    text-align: center;
    display: block;
    
}
#texto2{
    margin-top: 70px;
    float: right;
    margin-right: 50px;
    background-color: black;
    display: flex;
    
    
}
#texto3{
    margin-top: 70px;
    margin-left: 50px;
    float: left;
    display: flex;
    background-color: black;
}
#numero{
    border: 15px solid #bc1823;
    float: left;
    display: flex;
    margin-top: 150px; 
    color: #ff9a00;
    background-color: black;
    

}
#numero2{
    padding: 20px;
    float: right;
    display: flex;
    margin-top: 150px; 
    color: #ff9a00;
    background-color: black;

}
#periodo{
    color: black;
    text-align: center;
}