
.abas{
    width: 800px;
    height: 100px;
    margin: 20px auto;
    position: relative;
}
#lista{
    list-style: none;
}
#elementos{
    float: left;
}

#cabecalhoTabela{
    width: 150px;
    padding: 25px;
    background-color:#bc1823;
    display: block;
    color: white;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;
}
#cabecalhoTabela:hover{
    background-color: #ff9a00;
}
.dados:checked ~ #cabecalhoTabela{
    background-color: #ff9a00;
}
.dados{
    display: none;
}
.content{
    margin-top: 25px;
    background-color: white;
    display: none;
    position: absolute;
    height: 320px;
    width: 600px;
    left: 0;
}
.dados:checked ~ .content{
    display: block;
}
#inicio{
    padding-left: 80px;
    padding-top: 80px;
    color: #ff9a00;
}
#labelForm{
    margin-top: 50px;
    margin-left: 40px;
    appearance: none;
    font-weight: bold;
}
#inputForm{
    border:none;
    background-color:white;
}

#rua{
    width: 250px;
    background-color:white;
    border: none;
    
}
#number{
    width: 100px;
    background-color:white;
    border: none;
}
#referencia{
    width: 200px;
    background-color:white;
    border: none;
}
#cep{
    width: 130px;
    background-color:white;
    border: none;
}
#salvar{
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ff9a00;
    padding: 10px;
    margin-top: -10px;
}
#complemento{
    width: 178px;
    background-color:white;
    border: none;
}
#email{
    width: 250px;
    background-color:white;
    border: none;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
#senha{
    width: 250px;
    border:none;
    background-color:white;
}
#text{
    background-color:white;
    border: none;

}
@media only screen and (max-width: 990px) {
    
    #lista{
        width: 50%;
        margin: 0 auto;
        
    }
    #elementos{
        display: block;
    }
    #cabecalhoTabela{
        font-size: 15px;
        position: relative;
    }
    .content{
        width: 50%;
        left: 100px;
        top: 130px;
        left: 160px;
    }
    .abas{
        left: 2%;
    }
    #senha, #email{
        width: 100px;
    }

}