/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 'header main';
}

header {
  background-color: #bc1823;
  grid-area: header;
  height: 50px;
  position: sticky;
  top: 0;
}

.menu {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.botoes {
  width: 100%;
  margin-top: 30px;
}

ul li a {
  list-style: none;
  background-color: #ff9a00;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

ul li a p {
  width: 50%;
  margin-left: 10px;
}

.icon {
  width: 20px;
}

main {
  grid-area: main;
  color: black;
}
*/
*{
  font-family: 'Roboto', 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
header{
  background-color: #bc1823;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

#cabecalho{
  padding: 20px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: white;
  width: 100%;
}
#menuLateral{
  height: 100%;
  width: 0px;
  background-color: #bc1823;
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 1;
  overflow:hidden;
  transition: width 0.5s;

}
#iconMenu{
  font-size: 30px;
  padding: 20px;
  background-color: #bc1823;
  color: white;
}
#iconMenu2{
  visibility: hidden;
}
#btn-menu{
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 30px;
}
#menuLateral a {
  color: black;
  display: block;
  text-align: center;
  padding: 25.8px;
  text-decoration: none;
  transition: width 0.2s;
  background-color: #bc1823;
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', 'Oxygen', sans-serif;
}
#menuLateral a:hover{
  background-color: #ff9a00;
  color: #bc1823;
}
#btn-fechar{
  border: none;
  background: none;
  font-size: 30px;
  float: right;
  background-color: none;
}
#btn-fechar:hover{
  color: #ff9a00;
}
main{
  transition: margin-left 0.5s;
}
#logoPrincipal{
  width: 160px;
  height: 90px;
  
}
#div_imagem{
  text-align: center;
}
.icon {
  width: 20px;
}
#cabecalho{
  transition: margin-left 0.5s;
}
