* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 'header main';
}

header {
  background-color: #bc1823;
  height: 100vh;
  grid-area: header;
  position: sticky;
  top: 0;
}

.menu {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.botoes {
  width: 100%;
  margin-top: 30px;
}

ul li a {
  list-style: none;
  background-color: #ff9a00;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

ul li a p {
  width: 50%;
  margin-left: 10px;
}

.icon {
  width: 20px;
}

main {
  grid-area: main;
  color: black;
}
