
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      #a1 {
        text-decoration: none;
        color: #ffffff;
      }
      



      #container {
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
      }
      
      #header {
        text-align: center;
        margin-bottom: 15px;
      }
      
      #user-icon {
        width: 40px;
        margin-bottom: 10px;
      }
      
      #addc {
        color: #ffffff;
        font: normal bold 23px 'Nunito', sans-serif;
        margin: 0 1px;
        font-size: 25px;
        margin-bottom: 2%;
      }

       #addc1{
           color:#ffffff;
           font: normal bold 23px 'Nunito', sans-serif;
           font-size: 17px;

       }
      
      #caixa {
        background-color: #bc1823;
        width: 750px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 10px;
        position: relative;
        margin: 0;
      }
      
      #inputs {
        width: 100%;
      }
      
      #numero,
      #validade,
      #button {
        width: 100%;
        display: flex;
        justify-content: center;
      }

       #cvc, #nomecartao, #cpftitular, #abcd #adcbutton {
           width: 100%;
           display: flex;
           justify-content: center;
       }
      
      input {
        background-color: #efefef;
        width: 90%;
        height: 48px;
        font: normal normal 16px 'Roboto', sans-serif;
        margin: 0 20px 20px 20px;
        padding: 5px 15px;
        border: none;
        outline: none;
      }
      
      #adcbutton {
        background-color: #ff9a00;
        color: #ffffff;
        width: 90%;
        height: 48px;
        font: normal 700 16px 'Roboto', sans-serif;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
      }
      
      #a2 {
        color: rgba(238, 238, 238, 0.9);
        font: normal normal 14px 'Roboto', sans-serif;
        text-align: center;
      }
      
      .button #a1 {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      
      #button-cadastro {
        width: 90%;
        margin-top: 60px;
      }
      
      #x-icon {
        position: absolute;
        right: 10px;
        top: 10px;
      }
      
      #x-icon img {
        width: 30px;
      }
      