* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  }

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 'header main';
}

header {
  background-color: #bc1823;
  height: 100vh;
  grid-area: header;
}

.menu {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.botoes {
  width: 100%;
  margin-top: 30px;
}

ul li a {
  list-style: none;
  background-color: #ff9a00;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

ul li a p {
  width: 50%;
  margin-left: 10px;
}

.icon {
  width: 20px;
}

.logo {
  position: relative;
}

.logo2 {
  position: absolute;
  margin-left: 0px;
  top: 50px;
}

main {
  grid-area: main;
}

  
#adc{
  background-color: #bc1823;
  color:#ffffff;
  height: 20%;
  padding-left:5px;
  padding-top:30px;
  padding-bottom: 10px;
  margin-left: 2px;
        
  }

  .novo-cartao{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    
  }

  .content-principal-br label {
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    width: 80px;
       
    }

   
  .form-novo-cartao> div{
    margin-bottom: 10px;
    margin-left: 10px;
       
  }

  .content-principal-br input{
    border: none;
    border-bottom: solid 1px #000;
  }
      
  
  .ncartao input{
    margin-left: 6px;
    width: 35%;
  }

  .validade input {
    margin-left: 63px;
    width: 35%;
  }

  .cvc input{
    margin-left: 90px;
    width: 20%;
  }

  .nomecartao input{
    margin-left: 15px;
    width: 40%;
  }

  .cpf input{
    margin-left: 90px;
    width: 35%;
  }
   
  img.logovs {
    height: 15px;
    width:30px;
  }
  
  img.logoms {
    height: 25px;
    width: 25px;
  }
  
.btncartoes2{
  margin-top: 40px;
   margin-bottom: 10px;
   justify-content: center;
   color: #ffffff;
   background-color: #ff9a00;
   border-bottom-right-radius: 2px;
   width: 90px;
   height: 30px;
   font-weight: bold;
   margin-left: 20px;
}


@media (max-width: 500px) {

  .container{
    display:flex;
    flex-direction: column;  
   }
 
   #adc{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0px;
  }
 
  .form-novo-cartao> div{
    margin-right: 2px;
    display:flex;
    flex-direction: column; 
   
  }
  
    .content-principal-br label {
    margin-right: 2px;
    display:flex;
    flex-direction: column;
  
 }
 
 .btncartoes2{
   margin-left: 35%;
 }
}

@media (max-width: 500px) {

  .container{

    display:flex;
    flex-direction: column;  
   }
 
   #adc{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 0px;
  }
 
  .form-novo-cartao> div{
    margin-right: 2px;
    display:flex;
    flex-direction: column; 
   
  }
    
  .content-principal-br label {
    margin-right: 2px;
    margin-left: 5px;
    display:flex;
    flex-direction: column;
  
 }

  
 .btncartoes2{
   margin-left: 35%;
 }
}