
/*edições da pagina adicionar cartao*/

#main-br{
  color: #000;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 'aside main';
  grid-gap: 16px;
  min-height: 750px;
}

.aside-menu {
  align-self: start;
}

.aside-menu a{
color: #000;
font-weight: bold;

}

.aside-menu> ul> li{
margin-bottom: 30px;
}

.aside-menu{
padding-left: 20px;
padding-top: 150px;
margin-top: 20px;

}

.content-principal-br{
padding-left: 20px;
padding-top: 160px;
padding-right:20px;
border-left: #000 solid 1px;
}

.addcartao {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: 2px;
}

.formnovocartao{
margin-top:20px;
}

.formnovocartao input{
  border:none;
  border-bottom: solid 1px #000;

}

.formnovocartao>div {
  margin-bottom: 5px;
  margin-left: 20px;
  padding-bottom: 3px;
  padding-top: 5px;
}


.content-principal-br label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#numerocartao {
  margin-left: 1px;
  width: 20%;
}

#validade {
  margin-left: 60px;
  width: 10%;
}

#cvc {
  margin-left: 87px;
  width: 7%;
}

#nomecartao {
  margin-left: 15px;
  width: 35%;
}

#cpf {
  margin-left: 90px;
  width: 25%;
}


#btnnovocartao, #btnexcluircartao {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #ff9a00;
  border-bottom-right-radius: 2px;
  width: 90px;
  height: 30px;
  font-weight: bold;
}

#btnnovocartao:hover {
  background-color: #bc1823;
}

#btnexcluircartao:hover {
  background-color: #bc1823;
}

.novocartao2 {
  display: inline-block;
  margin-left: 25%;
}

.excluircartao {
  display: inline-block;
  margin-left: 5%;
}

img.mastercard{
width: 60px;
height:45px;
}

img.visa{
  width: 40px;
  height:30px;
}


@media (max-width: 767px) {

  .content-principal-br{
    border-top: solid 1px #000;
    
  }

  #main-br{
    display: inline-block;
    min-height: 1900px;
  }

  .aside-menu> ul> li{
    text-align: center;
  }

  .addcartao{
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

  
  #validade {
    margin-left: 5px;
    
  }
  
  #cvc {
    margin-left: 5px;
    }
  
  #nomecartao {
    margin-left: 5px;
   }
  
  #cpf {
    margin-left: 5px;
  }
  

  .formd>div {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
  }
  .content-principal-br h3 {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
  }

  .content-principal-br label {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
  }

    .novocartao2 {
    display: inline-block;
    margin-left: 5px;
  }

  .addcartao{
    margin-left: 10px;
  }

  .formnovocartao input label{
    margin-left: 2px;
  }
}
  
  @media (max-width: 500px) {

    .content-principal-br{
      border-top: solid 1px #000;
      
    }
  
    #main-br{
      display: inline-block;
      min-height: 1900px;
    }
  
    .aside-menu> ul> li{
      text-align: center;
    }
    .addcartao {
      padding-left: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
    .content-principal-br input{
      margin-left: 5px;
    }
    .formd>div {
      margin-right: 2px;
      display: flex;
      flex-direction: column;
    }
    .content-principal-br h3 {
      margin-right: 2px;
      display: flex;
      flex-direction: column;
    }
    .addcartao{
      padding-left: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      }
  
    .content-principal-br {
      margin-left: 5px;
    }
  
    #validade {
      margin-left: 5px;
      
    }
    
    #cvc {
      margin-left: 5px;
      }
    
    #nomecartao {
      margin-left: 5px;
     }
    
    #cpf {
      margin-left: 5px;
    }
    
    .content-principal-br label {
      margin-right: 2px;
      display: flex;
      flex-direction: column;
    }
    .novocartao2 {
      display: inline-block;
      margin-left: 5px;
    }
  } 

  