  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  body {
    font-family: 'Roboto', 'Oxygen', sans-serif;
    }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 'header main';
  }
  
  header {
    background-color: #bc1823;
    height: 100vh;
    grid-area: header;
  }
  
  .menu {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 150px;
    margin-top: 10px;
  }
  
  .botoes {
    width: 100%;
    margin-top: 30px;
  }
  
  ul li a {
    list-style: none;
    background-color: #ff9a00;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  ul li a p {
    width: 50%;
    margin-left: 10px;
  }
  
  .icon {
    width: 20px;
  }
  
  .logo {
    position: relative;
  }
  
  .logo2 {
    position: absolute;
    margin-left: 0px;
    top: 50px;
  }
  
  main {
    grid-area: main;
    
  }

    
  #alterardados2{
   background-color: #bc1823;
   color:#ffffff;
   height: 40%;
   padding-left: 20px;
   padding-top:30px;
   padding-bottom: 10px;  
   margin-left: 2px;   
  }
     
  .formdados2> div{
    margin-bottom: 5px;
    margin-left: 20px;
    padding-bottom: 3px;
  }  
    
  .content-principal-br h3{
    font-size: 16px;
    color: #bc1823;
    padding-top: 30px;
  }
  
  .content-principal-br label{
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
   
  .num1{
    display: inline-block;
  
  }
  
  .bairro1 {
   display: inline-block;
  
  }
  
  .cep1{
    display: inline-block;
    
  }
  
  .cidade1{
    display: inline-block;
    
  }
  
  .complemento1  {
    display: inline-block;
  }
  
  .ptr1 {
    display: inline-block;
  }
  
    
  /*.content-principal-br input{
    border: none;
    border-bottom: solid 1px #000;*/
  }
    
  .md21 input {
    margin-left: px;
    width: 45%;
  }
  
  .genero1 input {
    margin-left: 96px;
    }
  
  .cpf input {
    margin-left: 102px;
    width: 25%;
  }
  
 
  .rua21 input {
    margin-left: 104px;
    width: 50%;
  }
  
   
  .num1 input {
    margin-left: 79px;
    width: 25%;
  }
  
  .bairro1 input {
    margin-left: 50px;
    width: 25%;
  }
  
  .complemento1 input {
    margin-left: 20px;
    width: 35%;
  }
  
  .ptr1 input {
    margin-left: 6px;
    width: 50%;
  }
  
  .cep1 input {
    margin-left: 98px;
    width: 25%;
  }
  
  .cidade1 input {
    margin-left: 82px;
    width: 25%;
  }
  
  .telefone1 input {
    margin-left: 75px;
    width: 25%;
  }
  
  #email11 input {
    margin-left: 85px;
    width: 25%;
  }
  
  .email21 input {
    margin-left: 20px;
    width: 25%;
  }
  
  .senha1 input {
    margin-left: 70px;
    width: 35%;
  }
  
  #mdalterar2, #mdcancelar2 {
     margin-top: 40px;
     margin-bottom: 10px;
     justify-content: center;
     color: #ffffff;
     background-color: #ff9a00;
     border-bottom-right-radius: 2px;
     width: 90px;
     height: 30px;
     font-weight: bold;
      
  }

  .content-principal-br input{
    margin-left: 5px;
  }
  
  #mdalterar2:hover{
    background-color: #bc1823;
  }
    
  #mdcancelar2:hover{
    background-color: #bc1823;
  }
  
  .btnalterar2 {
    display: inline-block;
    margin-left: 25%;
  }
  
  .btncancelar2{
    display: inline-block;
    margin-left: 5%;
  }
  
  @media (max-width: 767px) {

    .formdados2> div{
      margin-right: 2px;
      display:flex;
      flex-direction: column;
      
    }
        
    .content-principal-br h3{
      margin-right: 2px;
      display:flex;
      flex-direction: column;
         
    }

    .content-principal-br input{
      margin-left: 5px;
    }
    
    #alterardados2{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

    .content-principal-br label {
      margin-right: 2px;
      display:flex;
      flex-direction: column;
    
  }
  
  
  #mdalterar2{
    position: absolute;
    margin-left: 30%;
    margin-top:20px;
   text-align: center;
   margin-bottom: 10px;
  }

  #mdcancelar2{
    position: absolute;
    margin-left:55%;
    margin-top: 12px;
    
  }
  
  .btnalterar2 {
    margin-bottom: 20px;
  }

  .btnalterar2 {
    margin-bottom: 20px;
  }
  
  @media (max-width: 500px) {
  
     .container{
  
      display:flex;
      flex-direction: column;  
     }
  
     #alterardados2{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .formdados2> div{
      margin-right: 2px;
      display:flex;
      flex-direction: column; 
     
    }
    
    
    .content-principal-br h3{
      margin-right: 2px;
      display:flex;
      flex-direction: column;    
    }
    
    .content-principal-br label {
      margin-right: 2px;
      display:flex;
      flex-direction: column;
    
  }
  
      
  #mdalterar2{
    position: absolute;
    margin-left: 30%;
    margin-top:20px;
   text-align: center;
   margin-bottom: 20px;
   
  }

  #mdcancelar2{
    position: absolute;
    margin-left:55%;
    margin-top: 12px;
    margin-bottom: 20px;
    
  }

  .btnalterar2, .btncancelar2{
    margin-bottom: 20px;
  
  }


}