* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #bc1823;
  width: 100%;
  height: 110px;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bolder;
  padding: 0 20px;
}

.logo img {
  width: 150px;
}

#menu-desktop ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

#menu-desktop ul li a {
  transition: 0.4s;
}

#menu-desktop ul li a:hover {
  color: #ff9a00;
}

#login-carrinho ul {
  display: flex;
  gap: 30px;
}

#login,
#carrinho {
  cursor: pointer;
  transition: 0.4s;
}

#login:hover,
#carrinho a:hover {
  color: #ff9a00;
}

#numero-carrinho {
  background-color: #ff9a00;
  color: black;
  font-size: 12px;
  position: absolute;
  top: 25px;
  right: 7px;
  border-radius: 50%;
  padding: 5px 8px;
  display: none;
}

#carrinho-mobile {
  position: relative;
}

#numero-carrinho-mobile {
  background-color: #ff9a00;
  color: black;
  font-size: 11px;
  position: absolute;
  top: -12%;
  right: 43%;
  border-radius: 50%;
  padding: 5px 8px;
  display: none;
}

#meu-perfil a {
  cursor: pointer;
  transition: 0.4s;
}

#meu-perfil a:hover {
  color: #ff9a00;
}

#sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

#sub-header #horario,
#sub-header #enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
  transition: 0.4s;
}

#sub-header #enderecos a:hover {
  color: #bc1823;
}

#menu-mobile {
  display: none;
}

#menu-mobile .icon-menu {
  color: #ffffff;
  font-size: 32px;
  cursor: pointer;
  transition: 0.7s;
}

#menu-mobile .icon-menu:hover {
  color: #ff9a00;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#menu-mobile ul {
  background-color: #bc1823;
  width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 112px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

.show-menu {
  display: block !important;
}

#menu-mobile ul li,
#menu-mobile ul li a {
  display: block;
  padding: 8px;
  transition: 0.4s;
}

#menu-mobile ul li:hover,
#menu-mobile ul li a:hover {
  color: #ff9a00;
}

#sub-header-mobile {
  width: 100%;
  height: 35px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#sub-header-mobile #horario,
#sub-header-mobile #enderecos a {
  color: #ffffffb6;
  transition: 0.4s;
}

#sub-header-mobile #enderecos a:hover {
  color: #ff9a00;
}

main {
  flex-grow: 1;
  color: black;
}

/*edições da pagina alterar dados*/

#main-br{
  color: #000;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  min-height: 750px;
  padding-top:140px;
}

.aside-menu {
  align-self: start;
}

.aside-menu a{
color: #000;
font-weight: bold;

}

.aside-menu> ul> li{
margin-bottom: 30px;
}

.aside-menu> ul> li a:hover{
  color: #ff9a00;
  }

  .aside-menu> ul> li:hover{
    color: #ff9a00;
    }

.aside-menu{
padding-left: 20px;
margin-top: 20px;

}

.content-principal-br{
padding-left: 20px;
padding-right:20px;
border-left: #000 solid 1px;
}

.alterardados2 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: 2px;
}

.formdados2>div {
  margin-bottom: 5px;
  margin-left: 20px;
  padding-bottom: 3px;
}

.content-principal-br h3 {
  font-size: 16px;
  color: #bc1823;
  padding-top: 30px;
}

.content-principal-br label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 10px;
}


.num1{
  display: inline-block;

}

.bairro1 {
 display: inline-block;

}

.cep1{
  display: inline-block;
  
}

.cidade1{
  display: inline-block;
  
}

.complemento1 {
  display: inline-block;
}

.ptr1 {
  display: inline-block;
}


.dtn1 input {
  margin-left: 4px;
  width: 35%;
}


.content-principal-br input{
  border: none;
  border-bottom: solid 1px #000;
}


.md21 input {
  margin-left: 89px;
  width: 50%;
}

.genero1 input {
  margin-left: 96px;
  }

.cpf1 input {
  margin-left: 102px;
  width: 25%;
}

.rua1 {
  display: inline-block;
}

.rua1 input {
  margin-left: 104px;
  width: 50%;
}

.num1 {
  display: inline-block;
}

.num1 input {
  margin-left: 79px;
  width: 30%;
}

.bairro1 input {
  margin-left: 91px;
  width: 25%;
}

.complemento1 input {
  margin-left: 39px;
  width: 35%;
}

.ptr1 input {
  margin-left: 6px;
  width: 50%;
}

.cep1 input {
  margin-left: 98px;
  width: 25%;
}

.cidade1 input {
  margin-left: 82px;
  width: 25%;
}

.telefone1 input {
  margin-left: 75px;
  width: 25%;
}

#email1 {
  margin-left: 85px;
  width: 25%;
}

.email21 input {
  margin-left: 20px;
  width: 25%;
}

.senha1 input {
  margin-left: 84px;
  width: 25%;
}

#mdalterar2, #mdcancelar2 {
  margin-top: 40px;
  margin-bottom: 10px;
  justify-content: center;
  color: #ffffff;
  background-color: #ff9a00;
  border-bottom-right-radius: 2px;
  width: 90px;
  height: 30px;
  font-weight: bold;
}

#mdalterar2:hover {
  background-color: #bc1823;
}


#mdcancelar2:hover {
  background-color: #bc1823;
}

.btnalterar2 {
  display: inline-block;
  margin-left: 25%;
}


.btncancelar2 {
  display: inline-block;
  margin-left: 5%;
}




footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#social-media a i {
  font-size: 26px;
  margin: 0 10px;
  transition: 0.5s;
}

#social-media a i:hover {
  color: #ff9a00;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#infos {
  text-align: center;
}

.button-up i {
  background-color: #ff9a00;
  font-size: 35px;
  color: #bc1823;
  position: fixed;
  right: 5px;
  bottom: 15px;
  padding: 0 7px;
  border-radius: 50%;
  transition: 0.5s;
}

.button-up i:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 979px) {
  #menu-mobile {
    display: block;
  }

  #menu-desktop,
  #login-carrinho {
    display: none;
  }

  #sub-header {
    display: none;
  }
}

@media only screen and (max-width: 645px) {
  #numero-carrinho-mobile {
    right: 40%;
  }
}

@media only screen and (max-width: 470px) {
  #numero-carrinho-mobile {
    right: 36%;
  }
}

@media only screen and (max-width: 430px) {
  #menu-mobile {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) {

  .alterardados2 {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #ff9a00;
      color:#ffffff;
  }

  .content-principal-br{
    border-top: solid 1px #000;
    border-left:none;
    
  }

  #main-br{
    display: inline-block;
    min-height: 1900px;
  }

  .aside-menu> ul> li{
    text-align: center;
  }

  .content-principal-br input{
    margin-left: 5px;
  }
  .formdados2>div {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
  }
  .content-principal-br h3 {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
  }

  .content-principal-br label {
    margin-right: 2px;
    display: flex;
    flex-direction: column;
  }

  #email1 {
    margin-left: 5px;
    width: 25%;
  }

  .btnalterar2{
    align-items: center;
  }

  .btncancelar2{
    align-items: center;
  }
}
  
  @media only screen and (max-width: 500px) {
  
    .alterardados2 {
      padding-left: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      background-color: #ff9a00;
      color:#ffffff;
      
    }

    .content-principal-br{
      border-top: solid 1px #000;
      border-left:none;
      
    }
  
    #main-br{
      display: inline-block;
      min-height: 1900px;
    }
  
    .aside-menu> ul> li{
      text-align: center;
    }
  
    .content-principal-br input{
      margin-left: 5px;
    }
    .formdados2>div {
      margin-right: 2px;
      display: flex;
      flex-direction: column;
    }
    .content-principal-br h3 {
      margin-right: 2px;
      display: flex;
      flex-direction: column;
    }
  
    .content-principal-br label {
      margin-right: 2px;
      display: flex;
      flex-direction: column;
    }
  
    #email1 {
      margin-left: 5px;
      width: 25%;
    }

    .btnalterar2{
      align-items: center;
    }
  
    .btncancelar2{
      align-items: center;
    }
  }