* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #bc1823;
  width: 100%;
  height: 110px;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bolder;
  padding: 0 20px;
}

.logo img {
  width: 150px;
}

#menu-desktop ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

#menu-desktop ul li a {
  transition: 0.4s;
}

#menu-desktop ul li a:hover {
  color: #ff9a00;
}

#login-carrinho ul {
  display: flex;
  gap: 30px;
}

#login,
#carrinho {
  cursor: pointer;
  transition: 0.4s;
}

#login:hover,
#carrinho a:hover {
  color: #ff9a00;
}

#sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

#sub-header #horario,
#sub-header #enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
  transition: 0.4s;
}

#sub-header #enderecos a:hover {
  color: #bc1823;
}

#menu-mobile {
  display: none;
}

#menu-mobile .icon-menu {
  color: #ffffff;
  font-size: 32px;
  cursor: pointer;
  transition: 0.7s;
}

#menu-mobile .icon-menu:hover {
  color: #ff9a00;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#menu-mobile ul {
  background-color: #ff9a00;
  width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 112px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

.show-menu {
  display: block !important;
}

#menu-mobile ul li,
#menu-mobile ul li a {
  display: block;
  padding: 8px;
  transition: 0.4s;
}

#menu-mobile ul li:hover,
#menu-mobile ul li a:hover {
  color: #bc1823;
}

#sub-header-mobile {
  width: 100%;
  height: 35px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#sub-header-mobile #horario,
#sub-header-mobile #enderecos a {
  color: #ffffffb6;
  transition: 0.4s;
}

#sub-header-mobile #enderecos a:hover {
  color: #bc1823;
}

#caixa-cadastro {
  background-color: #bc1823;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  margin-top: 150px;
  padding: 40px 10px;
}

#caixa-cadastro h3 {
  color: #ffffff;
  font: normal bold 35px 'Roboto Slab', sans-serif;
  margin-bottom: 10px;
}

#caixa-cadastro .caixa-inputs {
  width: 65%;
}

#caixa-cadastro .inputs {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
}

#caixa-cadastro label {
  font: normal bold 18px 'Nunito', sans-serif;
}

#caixa-cadastro input {
  background-color: #efefef;
  height: 35px;
  margin-top: 5px;
  padding: 15px;
  border: none;
  outline: none;
}

#caixa-cadastro .input-grande {
  width: 50%;
}

#caixa-cadastro .input-medio {
  width: 33%;
}

#caixa-cadastro .input-pequeno {
  width: 25%;
}

#caixa-cadastro #sexo {
  display: flex;
  align-items: center;
  gap: 15px;
}

#caixa-cadastro .masculino,
#caixa-cadastro .feminino {
  display: flex;
  align-items: center;
}

#caixa-cadastro #masculino,
#caixa-cadastro #feminino {
  margin-right: 5px;
}

#caixa-cadastro .rua-numero {
  display: flex;
  gap: 4px;
}

#caixa-cadastro #rua {
  width: 78%;
}

#caixa-cadastro #numero {
  width: 22%;
}

#caixa-cadastro .input-grande input,
#caixa-cadastro .input-medio input,
#caixa-cadastro .input-pequeno input,
#caixa-cadastro #rua input,
#caixa-cadastro #numero input {
  width: 100%;
}

#caixa-cadastro button {
  background-color: #ff9a00;
  color: #ffffff;
  width: 170px;
  height: 50px;
  font: normal 700 20px 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

#caixa-cadastro button:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#social-media a i {
  font-size: 26px;
  margin: 0 10px;
  transition: 0.5s;
}

#social-media a i:hover {
  color: #ff9a00;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#infos {
  text-align: center;
}

/* =============================== ADICIONAR MODAIS =============================== */

/* ==================== ESTILOS GERAIS ==================== */

.modal {
  background-color: rgb(218, 218, 218);
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 11;
  display: none;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #ff9a00;
}

.modal .caixa,
.modal .caixa,
.modal .caixa,
.modal .caixa,
.modal .caixa {
  background-color: #bc1823;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 10px;
  position: relative;
}

.modal h3 {
  color: #ffffff;
  font: normal bold 20px 'Nunito', sans-serif;
  margin: 0 10px;
}

.modal #x-icon {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal .header {
  text-align: center;
  margin-bottom: 15px;
}

.modal #user-icon {
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}

.modal .inputs {
  width: 100%;
}

.modal input {
  background-color: #efefef;
  width: 90%;
  height: 48px;
  font: normal normal 16px 'Roboto', sans-serif;
  margin: 0 20px 20px 20px;
  padding: 5px 15px;
  border: none;
  outline: none;
}

.modal button {
  background-color: #ff9a00;
  color: #ffffff;
  width: 90%;
  height: 48px;
  font: normal 700 16px 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  margin: 0 20px 10px 20px;
}

.modal p {
  color: rgba(238, 238, 238, 0.9);
  font: normal normal 15px 'Roboto', sans-serif;
  text-align: center;
  cursor: pointer;
}

.modal #cpf,
.modal #email,
.modal #senha,
.modal .button {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ==================== MODAL ACESSAR COMO ==================== */

#modal-acessar-como {
  width: 500px;
  height: 200px;
}

#modal-acessar-como .opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

#modal-acessar-como #admin,
#modal-acessar-como #cliente {
  background-color: #ff9a00;
  color: #ffffff;
  width: 210px;
  text-align: center;
  padding: 5px 10px;
  font: normal bold 20px 'Roboto', sans-serif;
  cursor: pointer;
}

/* ==================== MODAL LOGIN ADM ==================== */

#modal-login-adm {
  width: 520px;
  height: 400px;
}

/* ==================== MODAL RECUPERAR SENHA ADM ==================== */

#modal-recuperar-senha-adm {
  width: 520px;
  height: 300px;
}

/* ==================== MODAL LOGIN CLIENTE ==================== */

#modal-login-cliente {
  width: 520px;
  height: 510px;
  top: 100px;
}

#modal-login-cliente #button-cadastro {
  width: 90%;
  margin-top: 35px;
}

/* ==================== MODAL RECUPERAR SENHA CLIENTE ==================== */

#modal-recuperar-senha-cliente {
  width: 520px;
  height: 300px;
}

/* ============================================================================ */

@media only screen and (min-width: 1561px) {
  #caixa-cadastro .caixa-inputs {
    width: 1001px;
  }
}

@media only screen and (max-width: 1026px) {
  #caixa-cadastro .inputs {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #caixa-cadastro .input-grande,
  #caixa-cadastro .input-medio,
  #caixa-cadastro .input-pequeno,
  #caixa-cadastro .sexo {
    width: 325px;
  }
}

@media only screen and (max-width: 979px) {
  #menu-mobile {
    display: block;
  }

  #menu-desktop,
  #login-carrinho {
    display: none;
  }

  #sub-header {
    display: none;
  }

  #caixa-cadastro {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 645px) {
  #pesquisa-carrinho {
    height: 100px;
    display: block;
    margin: 0 auto;
  }

  #pesquisa {
    margin: 0 auto;
  }

  #irCarrinho {
    margin: 10px auto;
    padding: 0;
  }
}

@media only screen and (max-width: 540px) {
  #modal-acessar-como,
  #modal-login-adm,
  #modal-recuperar-senha-adm,
  #modal-login-cliente,
  #modal-recuperar-senha-cliente {
    width: 95%;
  }
}

@media only screen and (max-width: 430px) {
  #menu-mobile {
    font-size: 14px;
  }
}

@media only screen and (max-width: 350px) {
  #caixa-cadastro .input-grande,
  #caixa-cadastro .input-medio,
  #caixa-cadastro .input-pequeno,
  #caixa-cadastro .sexo {
    width: 200px;
  }
}
