#perfil a {
  cursor: pointer;
  transition: 0.4s;
}

#perfil a:hover {
  color: #ff9a00;
}

main {
  color: black;
  position: relative;
}

#banner {
  width: 100%;
  height: 284px;
  margin: 0 auto;
  margin-top: 155px;
  background-image: url(../midia/cardapio/images/pagina-principal/banner.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#banner h3 {
  color: #ff9a00;
  font: normal 50px 'Roboto Slab', serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #000;
}

.scroll-banner {
  height: 135px;
  opacity: 0;
  font-size: 1%;
}

#pesquisa-carrinho {
  background: rgba(196, 196, 196, 0.1);
  width: 100%;
  height: 54px;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  margin-top: 30px;
  padding: 10px 80px;
}

#pesquisa {
  background: #c4c4c4;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

#pesquisa input {
  background-color: #c4c4c4;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
}

#pesquisa #btn-pesquisar-produto {
  background-color: #c4c4c4;
  border: none;
  border-style: none;
  transition: 0.3s;
  cursor: pointer;
}

#pesquisa #btn-pesquisar-produto i {
  color: #bc1823;
  font-size: 16px;
}

#irCarrinho {
  width: 150px;
  height: 30px;
  background-color: #ff9a00;
  padding: 0 10px;
  transition: 0.5s;
}

#irCarrinho:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

#irCarrinho p {
  font: bold 14px 'Roboto', sans-serif;
  text-align: center;
  line-height: 32px;
  color: #ffffff;
}

.boxes {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-around;
  margin: 20px 50px 72px 50px;
  color: #ffffff;
  font: bold 35px 'Roboto Slab', serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #000;
}

.box-banner {
  width: 280px;
  height: 140px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.5s;
}

.box-banner:hover {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

#box1 {
  background-image: url(../midia/cardapio/images/pagina-principal/lanches.png);
  background-size: cover;
}

#box2 {
  background-image: url(../midia/cardapio/images/pagina-principal/lanches-fit.png);
  background-size: cover;
}

#box3 {
  background-image: url(../midia/cardapio/images/pagina-principal/bebidas.png);
  background-size: cover;
}

#box4 {
  background-image: url(../midia/cardapio/images/pagina-principal/sobremesas.png);
  background-size: cover;
}

.box-produtos {
  margin: 0 20px;
}

.box-produtos-sobremesas {
  margin: 0 20px;
  margin-bottom: 70px;
}

.box-produtos h1,
.box-produtos-sobremesas h1 {
  color: #bc1823;
  font: bold 50px 'Roboto', sans-serif;
  margin-left: 60px;
  margin-bottom: 20px;
}

.linha-produtos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.box-produto {
  background-color: #f7f3f3;
  width: 390px;
  height: 165px;
  display: flex;
  gap: 15px;
  border-radius: 10px;
  padding: 8px;
  position: relative;
  margin: auto;
}

.box-produto .image img {
  width: 147px;
  height: 147px;
}

.box-produto .image-vertical img {
  height: 147px;
}

.produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nome-produto {
  font-size: 20px;
  margin-bottom: 4px;
}

.descricao-produto {
  font: normal normal 14px 'Nunito', sans-serif;
}

.precos {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.caixa-preco-antigo {
  position: relative;
}

.preco-antigo-produto {
  color: #989797;
  font: normal bold 18px 'Nunito', sans-serif;
  width: 75px;
  text-align: center;
}

.preco-novo-produto {
  font: normal bold 18px 'Nunito', sans-serif;
}

.line-icon {
  position: absolute;
  width: 75px;
  top: 10px;
  height: 3.5px;
}

.plus-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 24px;
  transition: 0.3s;
}

.plus-icon:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

@media only screen and (max-width: 1294px) {
  #pesquisa-carrinho {
    justify-content: center;
  }

  .boxes {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px auto 75px auto;
  }

  .box-produtos h1,
  .box-produtos-sobremesas h1 {
    text-align: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 979px) {
  #banner {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 890px) {
  .box-produtos h1,
  .box-produtos-sobremesas h1 {
    font: bold 45px 'Roboto', sans-serif;
  }
}

@media only screen and (max-width: 645px) {
  .boxes {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
  }

  #pesquisa-carrinho {
    padding: 10px 0;
  }

  #pesquisa-carrinho {
    height: 100px;
    display: block;
    margin: 10px auto;
  }

  #pesquisa {
    margin: 0 auto;
  }

  #irCarrinho {
    margin: 10px auto;
    padding: 0;
  }
}

@media only screen and (max-width: 470px) {
  #banner {
    margin-top: 120px;
  }

  .scroll-banner {
    height: 155px;
  }
}

@media only screen and (max-width: 430px) {
  #pesquisa {
    width: 208px;
  }

  .box-banner {
    width: 240px;
  }

  .box-produtos h1,
  .box-produtos-sobremesas h1 {
    font: bold 40px 'Roboto', sans-serif;
  }

  .box-produto .image img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
  }

  .box-produto .image-vertical img {
    height: 120px;
    margin-top: 15px;
  }

  .nome-produto {
    font-size: 18px;
  }

  .descricao-produto {
    font: normal normal 14px 'Nunito', sans-serif;
  }

  .precos {
    gap: 5px;
  }

  .preco-antigo-produto,
  .preco-novo-produto {
    font: normal bold 16px 'Nunito', sans-serif;
  }

  .line-icon {
    width: 67px;
    top: 9px;
  }

  .line-icon2 {
    width: 57px;
    top: 9px;
  }

  .plus-icon {
    width: 20px;
  }
}

@media only screen and (max-width: 365px) {
  #banner h3 {
    font: normal 45px 'Roboto Slab', serif;
  }

  #pesquisa {
    width: 200px;
    padding: 0;
  }

  #pesquisa #btn-pesquisar-produto i {
    margin-right: 5px;
  }

  #irCarrinho {
    width: 120px;
    padding: 0;
  }

  .boxes {
    font: bold 32px 'Roboto Slab', serif;
  }

  .box-banner {
    width: 225px;
  }

  .box-produtos h1,
  .box-produtos-sobremesas h1 {
    font: bold 35px 'Roboto', sans-serif;
  }

  .nome-produto {
    font-size: 17px;
  }

  .descricao-produto {
    font: normal normal 13px 'Nunito', sans-serif;
  }

  .precos {
    gap: 3px;
  }

  .preco-antigo-produto,
  .preco-novo-produto {
    font: normal bold 15px 'Nunito', sans-serif;
  }

  .line-icon {
    width: 62px;
  }

  .line-icon2 {
    width: 53px;
  }

  .plus-icon {
    width: 18px;
  }
}

@media only screen and (max-width: 340px) {
  #pesquisa {
    width: 180px;
  }

  #pesquisa input {
    font-size: 12px;
  }

  .nome-produto {
    font-size: 16px;
  }

  .descricao-produto {
    font: normal normal 12px 'Nunito', sans-serif;
  }

  .precos {
    gap: 0;
  }

  .preco-antigo-produto,
  .preco-novo-produto {
    font: normal bold 14px 'Nunito', sans-serif;
  }

  .preco-antigo-produto {
    width: 65px;
  }

  .line-icon {
    width: 58px;
    top: 8px;
  }

  .line-icon2 {
    width: 50px;
    top: 8px;
  }

  .plus-icon {
    width: 16px;
  }
}

@media only screen and (max-width: 320px) {
  .nome-produto {
    font-size: 15px;
  }

  .descricao-produto {
    font: normal normal 11px 'Nunito', sans-serif;
  }

  .precos {
    display: block;
    padding-bottom: 0;
  }

  .preco-antigo-produto,
  .preco-novo-produto {
    font: normal bold 12px 'Nunito', sans-serif;
  }

  .preco-antigo-produto {
    width: 53px;
  }

  .line-icon {
    width: 50px;
    top: 6px;
  }

  .line-icon2 {
    width: 43px;
    top: 6px;
  }

  .plus-icon {
    width: 15px;
  }
}

@media only screen and (max-width: 294px) {
  .nome-produto {
    font-size: 14px;
  }

  .descricao-produto {
    font: normal normal 10px 'Nunito', sans-serif;
  }

  .preco-antigo-produto,
  .preco-novo-produto {
    font: normal bold 12px 'Nunito', sans-serif;
  }

  .preco-antigo-produto {
    width: 53px;
  }

  .line-icon {
    width: 50px;
  }

  .line-icon2 {
    width: 43px;
  }

  .plus-icon {
    width: 15px;
  }
}
