* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: #ffffff;
}

header {
  background-color: #bc1823;
  height: 136px;
  padding: 10px 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  font-size: 16px;
  font-weight: bolder;
}

.logo img {
  width: 150px;
}

.icon {
  width: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

ul li a:hover {
  color: #ff9a00;
}

.login-carrinho ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

#login,
#carrinho {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 15px;
}

#login-icon {
  width: 28px;
  position: absolute;
  right: 49px;
  top: -1px;
}

#cart-icon {
  width: 16px;
  position: absolute;
  right: 93px;
  top: -2px;
}

.sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.horario,
.enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
}

.enderecos span:hover {
  color: #bc1823;
}

main {
  height: 521px;
}

body h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 55px;
 background-color: #bc1823; 
 text-align: center;
}

body h1 img {
  width: 35px;
}

body h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  color: black;
  float:right; 
  margin-right: 13cm;
  margin-top: 1cm;
}

body h3{
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
float: right;
margin-right: -80mm;
margin-top: 1cm;


}

body p{
  margin-left: 1cm;
  padding-top: 30mm;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  text-align:initial;
}

body hr{
  color: black;
inline-size: 15cm;
margin-left: 3cm;
margin-top: -2mm;
}


footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media a img {
  width: 25px;
  margin: 0 6px;
}

.social-media a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
