* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: #ffffff;
}

header {
  background-color: #bc1823;
  height: 136px;
  padding: 10px 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  font-size: 16px;
  font-weight: bolder;
}

.logo img {
  width: 150px;
}

.icon {
  width: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

ul li a:hover {
  color: #ff9a00;
}

.login-carrinho ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

#login,
#carrinho {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 15px;
}

#login-icon {
  width: 28px;
  position: absolute;
  right: 49px;
  top: -1px;
}

#cart-icon {
  width: 16px;
  position: absolute;
  right: 93px;
  top: -2px;
}

.sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.horario,
.enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
}

.enderecos span:hover {
  color: #bc1823;
}



main {
  height: 521px;
}









.titulo-da-pag{
  font-family: 'Roboto', 'Oxygen', sans-serif;
  font-size: 23px;
  background-color: #bc1823; 
  text-align: center;
}

body h1 img {
  width: 35px;
}



.quantidade{
  font-family: 'Roboto', 'Oxygen', sans-serif;
  font-size: 13px;
  color: black;
  float:right; 
  margin-right: 300px;
  margin-top: 34px;
}

.total{
color: black;
font-family: 'Roboto', 'Oxygen', sans-serif;
font-size: 16px;
float: right;
margin-right: -250px;
margin-top: 34px;
}

.produtos{
  margin-left: 39px;
  padding-top: 38px;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: black;
}




.linha1 {
    color: black;
    inline-size: 60%;
    margin-left: 3cm;
    margin-top: -2mm;
}


.divisoria {
  color: black;
align-self: center;
margin-top: 25mm;

}




.frete{
  color: black;
  margin-left: 1cm;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
}

.inserircep{
  color: black;
  margin-left: 39px;
  margin-top: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  box-shadow: 0 4px 8px gray;
  width: 30%;


}




.cupom{
  color: black;
  margin-left: 39px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin-top: 90px;
}

.inserircupom{
  color: black;
  margin-left: 39px;
  margin-top: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  box-shadow: 0 4px 8px gray;
  width: 30%;

}







.subtotal{
  color: black;
  margin-top: 5%;
  margin-left: 39px;

}


.subtotal-valor{
  color: green;
  margin-left: 185px;
  margin-top: -4mm;
}


.continuarcomprando{
  font-size: 200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align:center;
  width:max-content;
  color: black;
  float: left;
  margin-left:39px;
  margin-top: -70px;
}



.finalizar-botao{
  color: white;
  background-color: #ff9a00;
  border-style:solid;
  border-width: thin;
  border-color: black;
  border-radius: 70px;
  text-align: center;
  width: 500px;
  margin-left: 420px;
  margin-top: 20%;
  margin-bottom: -30%;
}





footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media a img {
  width: 25px;
  margin: 0 6px;
}

.social-media a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
