* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: #ffffff;
}

header {
  background-color: #bc1823;
  height: 136px;
  padding: 10px 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  font-size: 16px;
  font-weight: bolder;
}

.logo img {
  width: 150px;
}

.icon {
  width: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

ul li a:hover {
  color: #ff9a00;
}

.login-carrinho ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

#login,
#carrinho {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 15px;
}

#login-icon {
  width: 28px;
  position: absolute;
  right: 49px;
  top: -1px;
}

#cart-icon {
  width: 16px;
  position: absolute;
  right: 93px;
  top: -2px;
}

.sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.horario,
.enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
}

.enderecos span:hover {
  color: #bc1823;
}

main {
  height: 521px;
}

footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media a img {
  width: 25px;
  margin: 0 6px;
}

.social-media a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}






#titulo {
  background-color: #bc1823;
  height: 64px;
  font-size: 300%;
  color: #ffffff;
  text-align: center;
 }

 #img-titulo {
  vertical-align: text-bottom;
 }

 #pdescrição {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 150%;
  position: relative;
  margin-top: 2%;
  margin-left: 25%;
}

#pquantidade {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 150%;
  position: relative;
  margin-top: -2%;
  margin-left: 60%;
}

#ptotal {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 150%;
  float: right;
  margin-top: -2%;
  margin-right: 8%;
}

#linha1 {
  color: gray;
  inline-size: 45%;
  margin-left: 12%;
  margin-top: -10px;
}

#descrição {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 100%;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 120%;
}

#bsubtração {
  width: 20px;
  height: 20px;
  background-color: #bc1823;
  border: none;
}

#bsubtração:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#badição {
  width: 20px;
  height: 20px;
  background-color: green;
  border: none;
  position: absolute;
  right: -120%;
}

#badição:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#quantidade {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 100%;
  float: right;
  position: relative;
  margin-top: -1%;
  margin-right: 35.5%;
}


#total1 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 100%;
  float: right;
  position: relative;
  margin-top: -1.1%;
  margin-right: -30%;
}

.divisoria {
  color: gray;
  inline-size: 100%;
  margin-top: 7%;
}

.tit-cupom {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 130%;
  margin-left: 5%;
  margin-top: 2%;
}

.tit-frete {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 130%;
  margin-left: 5%;
  margin-top: 2%;
}

.linha1 {
  color: gray;
  inline-size: 60%;
}

#cupom {
  background: white;
  gap: 25px;
  margin-top: 1%;
  margin-left: 5%;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-color: #ff9a00;
  border-width: 1px;
  border-style: solid;  
}

#cupom input {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#cupom button {
  background-color: white;
  border: none;
  border-style: none;
}

#cupom button:hover { 
  background-color: white;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#cupom img {
  width: 30px;
  background-color: #ff9a00;
}

#frete {
  background: white;
  gap: 25px;
  margin-top: 1%;
  margin-left: 5%;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-color:#ff9a00;
  border-width: 1px;
  border-style: solid;  
}

#frete input {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#frete button {
  background-color: white;
  border: none;
  border-style: none;
}

#frete button:hover { 
  background-color: white;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#frete img {
  width: 30px;
  background-color: #ff9a00;
}

.subtotal {
  color: black;
  position: relative;
  display: flex;
  margin-top: 3%;
  margin-left: 5%;  
}

.frete {
  color: black;
  position: relative;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;  
}

.desconto {
  color: black;
  position: relative;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;  
}

.totalp {
  color: black;
  position: relative;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;  
}

#valores {
  color: green;
  font-size: 15px;
}

#ContinuarComprando {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  font-style: inherit;
  font-size: 150%;
  text-align: center;
  position: relative;
  margin-top: 3%;
  margin-left: 5%;
  background-color: #e5e5e5;
  border-radius: 30px 30px 30px 30px;
  width: 320px;
  height: 45px;
  border: none;
  border-style: none;
}

#ContinuarComprando:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#continuar {
  color: black;
}

#imgcontinuar {
  width: 40px;
  vertical-align: text-bottom;
}

#FinalizaçaoBotao {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 160%;
  text-align: center;
  position: relative;
  margin-top: 3%;
  margin-left: 35%;
  background-color: #ff9a00;
  border-radius: 30px 30px 30px 30px;
  width: 400px;
  height: 45px;
  border: none;
  border-style: none;
}

#FinalizaçaoBotao:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}
