* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  }

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 'header main';
}

header {
  background-color: #bc1823;
  height: 100vh;
  grid-area: header;
}

.menu {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.botoes {
  width: 100%;
  margin-top: 30px;
}

ul li a {
  list-style: none;
  background-color: #ff9a00;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

ul li a p {
  width: 50%;
  margin-left: 10px;
}

.icon {
  width: 20px;
}

.logo {
  position: relative;
}

.logo2 {
  position: absolute;
  margin-left: 0px;
  top: 50px;
}

main {
  grid-area: main;
}

.cs{
  background-color: #bc1823;
  color:#ffffff;
  width: 100%;
  height: 11%;
  padding-left: 20px;
  padding-top:20px;
  padding-bottom: 10px;
  margin-left: 2px;
}


.mcartoes{
  padding-top:30px;
  padding-bottom: 10px;
  
}

.tablecartoes {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  width: 95%;
  border: #bc1823 solid 1px;
  border-collapse: collapse;
   
}

.tablecartoes tbody tr {
  border: #bc1823 solid 1px; 
}

.tablecartoes tbody tr:nth-child(2n) {
  background-color: #fae8d0;
} 


.thc {
  width: 30%, 10%, 15%, 30%, 15%;
  background-color: #bc1823;
  color:#ffffff;
  margin-left:none;
  margin-right: none;
  padding: 10px 2px;
  font-weight: bold;

}

 .tdc {
  width: 30%, 10%, 15%, 30%, 15%;
  margin-left:none;
  margin-right: none;
  padding: 8px 2px;
  border-spacing: 0px;
     
}

.cbotoes{
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
 
}

.addcartao:hover{
  background-color: #bc1823;
 
}

 
.addcartao{
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff9a00;
  border-bottom-right-radius: 2px;
  width: 90px;
  height: 40px;
  border: solid 1px #ff9a00;
}




 @media (max-width: 767px) {
  .tablecartoes tbody tr  {
    display: flex; 
    flex-direction: column;
   }
     
     .tablecartoes th{
       display:none;
      
     }
 
     .container{
       display: flex;
       flex-direction: column;
       
       }
   
       .cs{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
       }

       .cbotoes{
         margin-left: 40%;
       }

      
 }

  
  @media (max-width: 500px) {
    
    .tablecartoes tbody tr  {
      display: flex; 
      flex-direction: column;
     }
       
       .tablecartoes th{
         display:none;
        
       }
   
       .container{
         display: flex;
         flex-direction: column;
         
         }

         .cs{
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
         }
     
         .cbotoes{
          margin-left: 40%;
        }

        
  }

   
   
