* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #bc1823;
  width: 100%;
  height: 110px;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

#main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bolder;
  padding: 0 20px;
}

.logo img {
  width: 150px;
}

#menu-desktop ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

#menu-desktop ul li a {
  transition: 0.4s;
}

#menu-desktop ul li a:hover {
  color: #ff9a00;
}

#login-carrinho ul {
  display: flex;
  gap: 30px;
}

#login,
#carrinho {
  cursor: pointer;
  transition: 0.4s;
}

#login:hover,
#carrinho a:hover {
  color: #ff9a00;
}

#numero-carrinho {
  background-color: #ff9a00;
  color: black;
  font-size: 12px;
  position: absolute;
  top: 25px;
  right: 7px;
  border-radius: 50%;
  padding: 5px 8px;
  display: none;
}

#carrinho-mobile {
  position: relative;
}

#numero-carrinho-mobile {
  background-color: #ff9a00;
  color: black;
  font-size: 11px;
  position: absolute;
  top: -12%;
  right: 43%;
  border-radius: 50%;
  padding: 5px 8px;
  display: none;
}

#meu-perfil a {
  cursor: pointer;
  transition: 0.4s;
}

#meu-perfil a:hover {
  color: #ff9a00;
}

#sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

#sub-header #horario,
#sub-header #enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
  transition: 0.4s;
}

#sub-header #enderecos a:hover {
  color: #bc1823;
}

#menu-mobile {
  display: none;
}

#menu-mobile .icon-menu {
  color: #ffffff;
  font-size: 32px;
  cursor: pointer;
  transition: 0.7s;
}

#menu-mobile .icon-menu:hover {
  color: #ff9a00;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#menu-mobile ul {
  background-color: #bc1823;
  width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 112px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}

.show-menu {
  display: block !important;
}

#menu-mobile ul li,
#menu-mobile ul li a {
  display: block;
  padding: 8px;
  transition: 0.4s;
}

#menu-mobile ul li:hover,
#menu-mobile ul li a:hover {
  color: #ff9a00;
}

#sub-header-mobile {
  width: 100%;
  height: 35px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

#sub-header-mobile #horario,
#sub-header-mobile #enderecos a {
  color: #ffffffb6;
  transition: 0.4s;
}

#sub-header-mobile #enderecos a:hover {
  color: #ff9a00;
}

main {
  flex-grow: 1;
  color: black;
}

main {
  min-height: 521px;
}

#main-br{
    color: #000;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

.aside-menu a{
  color: #000;
  font-weight: bold;
  
}

..aside-menu> ul> li a:hover{
  color: #ff9a00;
  }

  .aside-menu> ul> li:hover{
    color: #ff9a00;
    }

.aside-menu> ul> li{
  padding-bottom: 50px;
}

.aside-menu{
  align-self: start;
  padding-left: 20px;
  padding-top: 140px;
  margin-top: 20px;
  
}

.content-principal-br{
  padding-left: 20px;
  padding-top: 140px;
  padding-right:20px;
  border-left: #000 solid 1px;
}


 .main-principal-br {
  min-height: 521px;
}

.cs{
  padding-left: 20px;
  padding-top:20px;
  padding-bottom: 10px;
  margin-left: 2px;
}


.mcartoes{
  padding-top:30px;
  padding-bottom: 10px;
  
}

.tablecartoes {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  width: 95%;
  border: #bc1823 solid 1px;
  border-collapse: collapse;
   
}

.tablecartoes tbody tr {
  border: #bc1823 solid 1px; 
}

.tablecartoes tbody tr:nth-child(2n) {
  background-color: #dcdcdc;
} 


.thc {
  width: 30%, 10%, 15%, 30%, 15%;
  background-color: #bc1823;
  color:#ffffff;
  margin-left:none;
  margin-right: none;
  padding: 10px 2px;
  font-weight: bold;

}

 .tdc {
  width: 30%, 10%, 15%, 30%, 15%;
  margin-left:none;
  margin-right: none;
  padding: 8px 2px;
  border-spacing: 0px;
     
}

.cbotoes{
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
 
}

.addcartao:hover{
  background-color: #bc1823;
 
}

.excluircartao:hover{
  background-color: #bc1823;  
}

.excluircartao{
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff9a00;
  border-bottom-right-radius: 2px;
  width: 90px;
  height: 40px;
  border: solid 1px #ff9a00;
}
 
.addcartao{
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff9a00;
  border-bottom-right-radius: 2px;
  width: 90px;
  height: 40px;
  border: solid 1px #ff9a00;
}

footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#social-media a i {
  font-size: 26px;
  margin: 0 10px;
  transition: 0.5s;
}

#social-media a i:hover {
  color: #ff9a00;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#infos {
  text-align: center;
}

.button-up i {
  background-color: #ff9a00;
  font-size: 35px;
  color: #bc1823;
  position: fixed;
  right: 5px;
  bottom: 15px;
  padding: 0 7px;
  border-radius: 50%;
  transition: 0.5s;
}

.button-up i:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 979px) {
  #menu-mobile {
    display: block;
  }

  #menu-desktop,
  #login-carrinho {
    display: none;
  }

  #sub-header {
    display: none;
  }
}

@media only screen and (max-width: 645px) {
  #numero-carrinho-mobile {
    right: 40%;
  }
  .content-principal-br{
    border-top: solid 1px #000;
    padding-top: 20px;
    
  }

  #main-br{
    display: inline-block;
    min-height: 500px;
  }
  

  .aside-menu> ul> li{
    text-align: center;
  }
  
  .tablecartoes tbody tr  {
    display: flex; 
    flex-direction: column;
   }
     
     .tablecartoes th{
       display:none;
      
     }
 
     .container{
       display: flex;
       flex-direction: column;
       
       }

       .cs{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
       }
   
       .cbotoes{
        align-items: center;
      }     
}

@media only screen and (max-width: 470px) {
  #numero-carrinho-mobile {
    right: 36%;
  }
}

@media only screen and (max-width: 430px) {
  #menu-mobile {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}

@media (max-width: 767px) {

  .content-principal-br{
    border-top: solid 1px #000;
    padding-top: 20px;
    
  }

  #main-br{
    display: inline-block;
    min-height: 1900px;
  }

  .aside-menu> ul> li{
    text-align: center;
  }


  .tablecartoes tbody tr  {
    display: flex; 
    flex-direction: column;
   }
     
     .tablecartoes th{
       display:none;
      
     }
 
     .container{
       display: flex;
       flex-direction: column;
       
       }
   
       .cs{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        background-color: #ff9a00;
        color:#ffffff;
       }

       .cbotoes{
         align-items: center;
       }

      
 }

  
  @media only screen and (max-width: 500px) {

    .content-principal-br{
      border-top: solid 1px #000;
      padding-top: 20px;
      
    }

    .content-principal-br{
      padding-top: 20px;
      }
  
    #main-br{
      display: inline-block;
      min-height: 1900px;
    }
  
    .aside-menu> ul> li{
      text-align: center;
    }
    
    .tablecartoes tbody tr  {
      display: flex; 
      flex-direction: column;
     }
       
       .tablecartoes th{
         display:none;
        
       }
   
       .container{
         display: flex;
         flex-direction: column;
         
         }

         .cs{
          margin-top: 10px;
          margin-bottom: 10px;
          text-align: center;
          background-color:#ff9a00 ;
          color:#ffffff
         }
     
         .cbotoes{
          align-items: center;
        }     
  }