#pesquisar{
    margin:0 auto;
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    border: 0px;
}
input[type="text"]{
    text-align: center;
    font-size: 20px;
    color: #ffa900;
    border: none;
}
#cep{
    width: 150px;
}
#endereco{
    width: 320px;
}
#tabela{
    justify-content: center;
    margin-bottom: 80px;
}
table, th, td{
    color: black;
    border: 1.5px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
th{
    padding-right: 20px;
    padding-left: 20px;
}
main{
    margin-top: 200px;
}
table{
    justify-content: center;
    position: relative;
    top: -30px;
    
}
h1{
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    top: -30px;
    color: #bc1823;
}