* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  }

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 'header main';
}

header {
  background-color: #bc1823;
  height: 100vh;
  grid-area: header;
}

.menu {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.botoes {
  width: 100%;
  margin-top: 30px;
}

ul li a {
  list-style: none;
  background-color: #ff9a00;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

ul li a p {
  width: 50%;
  margin-left: 10px;
}

.icon {
  width: 20px;
}

.logo {
  position: relative;
}

.logo2 {
  position: absolute;
  margin-left: 0px;
  top: 50px;
}

main {
  grid-area: main;
}
  
    #mp{
    background-color: #bc1823;
    color:#ffffff;
    width: 100%;
    height: 40%;
    padding-left: 20px;
    padding-top:30px;
    padding-bottom: 10px;
        
  }


.main-br {
  min-height: 521px;
}
  
.perfil{
  background-color: #bc1823;
    color:#ffffff;
    width: 100%;
    height: 40%;
    padding-left: 20px;
    padding-top:30px;
    padding-bottom: 10px;
    margin-left: 2px;
   
}
.formd> div{
  margin-bottom: 5px;
  margin-left: 20px;
  padding-bottom: 3px;
  
}


.content-principal-br h3{
  font-size: 16px;
  color: #bc1823;
  padding-top: 30px;

  
}

.content-principal-br label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 20px;
  }



.dtn{
display:inline-block;
}


.genero{
  display: inline-block;
  margin-left: 11%;
}


.rua2, .ptr{
  display: inline-block;
 }

 .num{
   display: inline-block;
   margin-left: 20%;
 }

.bairro {
  display: inline-block;
  margin-left: 5%;
}

.cep{
  display: inline-block;
  margin-left: 11%;
}

.cidade{
  display: inline-block;
  margin-left: 8%;
}

#mdalterar, #mdexcluir, #mdcancelar {
   margin-top: 40px;
   margin-bottom: 10px;
   justify-content: center;
   color: #ffffff;
   background-color: #ff9a00;
   border-bottom-right-radius: 2px;
   width: 90px;
   height: 30px;
   font-weight: bold;
    
}

#mdalterar:hover{
  background-color: #bc1823;
}

#mdexcluir:hover{
  background-color: #bc1823;

}

#mdcancelar:hover{
  background-color: #bc1823;
}

.btnalterar {
  display: inline-block;
  margin-left: 25%;
}

.btnexcluir {
  display: inline-block;
  margin-left: 5%;
}

.btncancelar{
  display: inline-block;
  margin-left: 5%;
}

@media (max-width: 767px) {

  formd> div{
    margin-right: 2px;
    display:flex;
    flex-direction: column;
    
  }
  
  
  .content-principal-br h3{
    margin-right: 2px;
    display:flex;
    flex-direction: column;
  
    
  }
  
  .content-principal-br label {
    margin-right: 2px;
    display:flex;
    flex-direction: column;
  
}

.genero{
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  
  
}

#mdalterar, #mdexcluir, #mdcancelar{
  display: flex;
  flex-direction: column ;
  padding-left: 10px;
}

@media (max-width: 500px) {
  formd> div{
    margin-right: 2px;
    display:flex;
    flex-direction: column;
    
  }
  
  
  .content-principal-br h3{
    margin-right: 2px;
    display:flex;
    flex-direction: column;
  
    
  }
  
  .content-principal-br label {
    margin-right: 2px;
    display:flex;
    flex-direction: column;
  
}

.genero{
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  
  
}

#mdalterar, #mdexcluir, #mdcancelar{
  display: flex;
  flex-direction: column ;
  padding-left: 10px;
}
 
}


