* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  color: #ffffff;
}

header {
  background-color: #bc1823;
  height: 136px;
  padding: 10px 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
  font-size: 16px;
  font-weight: bolder;
}

.logo img {
  width: 150px;
}

.icon {
  width: 20px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

ul li a:hover {
  color: #ff9a00;
}

.login-carrinho ul {
  display: flex;
  align-items: center;
  gap: 28px;
}

#login,
#carrinho {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 15px;
}

#login-icon {
  width: 28px;
  position: absolute;
  right: 49px;
  top: -1px;
}

#cart-icon {
  width: 16px;
  position: absolute;
  right: 93px;
  top: -2px;
}

.sub-header {
  background-color: #ff9a00;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.horario,
.enderecos a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 25px;
}

.enderecos span:hover {
  color: #bc1823;
}



/*edições da pagina meus dados*/

main-br {
  min-height: 521px;

}

  .main-principal-br{
    color: #000;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }


  .aside-menu {
    align-self: start;
  }

.aside-menu a{
  color: #000;
  
}

.aside-menu> ul> li{
  margin-bottom: 30px;
}

.aside-menu{
  padding-left: 20px;
  padding-top: 20px;
  
}

.content-principal-br{
  padding-left: 20px;
  padding-top: 20px;
  border-left: #000 solid 1px;
}

.perfil > h2{
  margin-top: 15px;

}
.formd> div{
  margin-bottom: 2px;
}

.content-principal-br h3{
  font-size: 16px;
  color: #bc1823;
  margin-top: 15px;
  
}

.content-principal-br label {
  font-size: 14px;
  margin-bottom: 5px;
}

.dtn{
display:inline-block;
}


.genero{
  display: inline-block;
  margin-left: 11%;
}

.rua2, .ptr{
  display: inline-block;
 }

 .num{
   display: inline-block;
   margin-left: 20%;
 }

.bairro {
  display: inline-block;
  margin-left: 5%;
}

.cep{
  display: inline-block;
  margin-left: 11%;
}

.cidade{
  display: inline-block;
  margin-left: 8%;
}

#mdalterar, #mdexcluir, #mdcancelar {
   margin-top: 30px;
   margin-bottom: 10px;
  justify-content: center;
  color: #ffffff;
  background-color: #ff9a00;
  border-bottom-right-radius: 2px;
  width: 90px;
  height: 30px;
  font-weight: bold;
    
}

#mdalterar:hover{
  background-color: #bc1823;
}

#mdexcluir:hover{
  background-color: #bc1823;

}

#mdcancelar:hover{
  background-color: #bc1823;
}

.btnalterar {
  display: inline-block;
  margin-left: 25%;
}

.btnexcluir {
  display: inline-block;
  margin-left: 5%;
}

.btncancelar{
  display: inline-block;
  margin-left: 5%;
}

footer {
  background-color: #bc1823;
  height: 100px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-media a img {
  width: 25px;
  margin: 0 6px;
}

.social-media a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}



