* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  font-family: 'Roboto', 'Oxygen', sans-serif;
  }

.container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-areas: 'header main';
}

header {
  background-color: #bc1823;
  height: 100vh;
  grid-area: header;
}

.menu {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 10px;
}

.botoes {
  width: 100%;
  margin-top: 30px;
}

ul li a {
  list-style: none;
  background-color: #ff9a00;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

ul li a p {
  width: 50%;
  margin-left: 10px;
}

.icon {
  width: 20px;
}

.logo {
  position: relative;
}

.logo2 {
  position: absolute;
  margin-left: 0px;
  top: 50px;
}

main {
  grid-area: main;
}
  
    #mp{
    background-color: #bc1823;
    color:#ffffff;
    width: 100%;
    height: 40%;
    padding-left: 20px;
    padding-top:30px;
    padding-bottom: 10px;
    margin-left: 2px;
   
      
  }

  .mpedidos{
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .tablecpedidos {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 95%;
    border: #bc1823 solid 1px;
    border-collapse: collapse;
         
  }
 
  .tablecpedidos tbody tr {
    border: #bc1823 solid 1px; 
  }
   
  .tablecpedidos tbody tr:nth-child(2n) {
    background-color: #fae8d0;
  } 
  
  
  .thp {
    width: 10% 20% 30% 20% 20%;
    color:#bc1823;
    padding: 10px 2px;
    word-wrap: break-word;
    
  }

   .tdp {
    width: 10% 20% 30% 20% 20%;;
    padding: 8px 2px;
    word-wrap: break-word;
                
  }

  #pcomanda,#pvalortotal,
  #cdescricao, #cvalortotal
  {
    text-align: left;

  }


  @media (max-width: 767px) {

      .tablecpedidos tbody tr {
      display:flex;
      flex-direction: column;
    }
    
    .tablecpedidos th{
      display:none;
    }

  @media (max-width: 500px) {

    .tablecpedidos tbody tr {
      display:flex;
      flex-direction: column;
    }
    
    .tablecpedidos th{
      display:none;
    }
   
  }
  