* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  ul li {
    list-style: none;
  }
  
  body {
    font-family: 'Roboto', 'Oxygen', sans-serif;
    color: #ffffff;
  }
  
  header {
    background-color: #bc1823;
    height: 136px;
    padding: 10px 0;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .logo img {
    width: 150px;
  }
  
  .icon {
    width: 20px;
  }
  
  .menu ul {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  
  ul li a:hover {
    color: #ff9a00;
  }
  
  .login-carrinho ul {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  
  #login,
  #carrinho {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
  }
  
  #login-icon {
    width: 28px;
    position: absolute;
    right: 49px;
    top: -1px;
  }
  
  #cart-icon {
    width: 16px;
    position: absolute;
    right: 93px;
    top: -2px;
  }
  
  .sub-header {
    background-color: #ff9a00;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
  }
  
  .horario,
  .enderecos a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 25px;
  }
  
  .enderecos span:hover {
    color: #bc1823;
  }
  
  main {
    height: 521px;
  }

  .resumo-do-pedido{
  color: fffffff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
  background-color: #bc1823;
}

.nome-pedido{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 10mm;
    margin-top: 20mm;
}

.linha-pedido{
    color: black;
inline-size: 19cm;
margin-left: 45mm;
margin-top: -3mm;

}

.preço{
    color: black;
margin-left: 25cm;
margin-top: -3mm;
}

.linha1{
    color: black;
    inline-size: 100%;
    margin-top: 20mm;
    height: 1px;

}

.botao{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    background-position: 218px center;
    width: 250px;
    height:70px;
    border:1px solid #ddd;
    color: white;
    background-color: #bc1823;
    border-radius: 10px;
    text-align: center;
    margin-left: 2cm;
}

.observaçao{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    float: right;
    margin-right: 4cm;
    margin-top: -10mm;
}

.taxa-entrega{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-left: 3cm;
    margin-top: 15mm;

}

.linha2{
    color: black;
    inline-size: 100%;
    margin-top: 15mm;

}

.linha3{
    color: black;
    inline-size: 100%;
    height: 10mm;
    margin-top: 15mm;
}

.total-do-pedido{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 170%;
    margin-left: 3cm;
    margin-top: 0%;
    display: flex;
    justify-content:left ;
    align-items: center;


}

.linha4{
    color: black;
    inline-size: 50%;
    margin-left: 28%;
    margin-top: 00%;
 
}

.valor-total2{
    color: green;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 170%;
    margin-left: 83%;
    margin-top: 0%;
    display: flex;
    align-items: center;
} 




.alterar-pedido{
    color: white;
    background-color: #ff9a00;
    border-radius: 70px;
    text-align: center;
    width: 35%;
    margin-left: 33%;
    margin-top: 5%;
    
  }

  .dados-entrega{
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 120%;
      margin-top: 5%;
      background-color:#bc1823;
      text-align: center;
  }

  .titulo-entrega{
    color: white;
    background-color: #bc1823;
    text-align: center;
    width: 0%;
    margin-left: 34%;
    margin-top: -12mm;

  }

  .endereçodeentrega{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
    margin-top: 5mm;
  }
  .complemento{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
  }

  .tempo-entrega{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 120%;
  }
  
.pagar-site{
  color: #ffffff;
  background-color: #bc1823;
  text-align: center;
  font-size: 120%;
  margin-top: 3%;

}

.adicionar-cartao{
  color:white;
  font-size: 200%;
  background-color: #ff9a00;
  border-style:solid;
  border-width: thin;
  border-color: black;
  border-radius: 70px;
  text-align: center;
  width: 30%;
  margin-top: 5%;
  margin-left: 35%;
}

  footer {
    background-color: #bc1823;
    height: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .social-media a img {
    width: 25px;
    margin: 0 6px;
  }
  
  .social-media a img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  