* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  ul li {
    list-style: none;
  }
  
  body {
    font-family: 'Roboto', 'Oxygen', sans-serif;
    color: #ffffff;
  }
  
  header {
    background-color: #bc1823;
    height: 136px;
    padding: 10px 0;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .logo img {
    width: 150px;
  }
  
  .icon {
    width: 20px;
  }
  
  .menu ul {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  
  ul li a:hover {
    color: #ff9a00;
  }
  
  .login-carrinho ul {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  
  #login,
  #carrinho {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 15px;
  }
  
  #login-icon {
    width: 28px;
    position: absolute;
    right: 49px;
    top: -1px;
  }
  
  #cart-icon {
    width: 16px;
    position: absolute;
    right: 93px;
    top: -2px;
  }
  
  .sub-header {
    background-color: #ff9a00;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
  }
  
  .horario,
  .enderecos a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 25px;
  }
  
  .enderecos span:hover {
    color: #bc1823;
  }
  
  main {
    height: 521px;
  }

  footer {
    background-color: #bc1823;
    height: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .social-media a img {
    width: 25px;
    margin: 0 6px;
  }
  
  .social-media a img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  



#titulo1{
  background-color: #bc1823;
  height: 64px;
  font-size: 300%;
  color: #ffffff;
  margin-top: 10%;
  text-align: center;
}

#descriçãop {
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 18px;
 margin-left: 15%;
 margin-top: 6%;
}

#linhap{
 color: black;
 inline-size: 51%;
 margin-left: 25%;
 margin-top: -10px;
}

#preçop{
 color: black;
 margin-left: 80%;
 margin-top: -10px;
 font-family: 'Roboto', 'Oxygen', sans-serif;
}


.linha1{
 color: black;
 inline-size: 100%;
 margin-top: 5%;
 height: 1px;
}

.botao{
 font-family: 'Roboto', 'Oxygen', sans-serif;
 text-align: center;
 position: relative;
 margin-top: 2%;
 margin-left: 5%;
 width: 200px;
 height:70px;
 color: white;
 border-radius: 10px;
}

#TextoObservaçao{
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 20px;
 margin-left: 5%;
 margin-bottom: 0%;
 margin-top: 3%;
}

#observaçao {
  background: white;
  gap: 25px;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-color: #ff9a00;
  border-width: 1px;
  border-style: solid;  
}

#observaçao input {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#observaçao button {
  background-color: white;
  border: none;
  border-style: none;
}

#observaçao button:hover { 
  background-color: white;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#observaçao img {
  width: 25px;
  background-color: #ff9a00;
}

.taxa-entrega{
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 20px;
 margin-left: 4%;
 margin-top: 50px;
}

.linha2{
 color: black;
 inline-size: 100%;
 margin-top: 10px;
}

.linha3{
 color: black;
 inline-size: 100%;
 height: 10mm;
 margin-top: 15mm;
}

#total{
 display: flex;
 font-size: 25px;
 color: black;
 margin-left: 5%;
 margin-top: 2%;
}

#linha{
 width: 400px;
 border-bottom: 1px solid black;
 position: relative;
 bottom: 6px;
 margin-left: 5%;
}

#valor{
 color: green;
 margin-left:5%;
}

#AlterarPedido{
 font-family: 'Roboto', 'Oxygen', sans-serif;
 color: #ffffff;
 font-size: 160%;
 text-align: center;
 margin-top: 5%;
 margin-left: 37%;
 background-color: #ff9a00;
 border-radius: 30px 30px 30px 30px;
 width: 345px;
 height: 50px;
 border: none;
 border-style: none;
 margin-bottom: -30px;
}

#AlterarPedido:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}


.dados-entrega{
 color: white;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 120%;
 margin-top: 6%;
 background-color:#bc1823;
 text-align: center;
}

#imgdadosentrega{
  width: 45px;
  height: 32px;
  margin-top: -65px;
  vertical-align: text-top;
}

.titulo-entrega{
 color: white;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 background-color: #bc1823;
 text-align: center;
 width: 0%;
 margin-left: 34%;
 margin-top: 2%;
}

.endereçodeentrega{
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 120%;
 margin-top: 2%;
 margin-left: 4%;
}

.complemento{
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 120%;
 margin-left: 4%;
}

.tempo-entrega{
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 120%;
 margin-left: 4%;
}
  
.pagar-site{
 color: #ffffff;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 background-color: #bc1823;
 text-align: center;
 font-size: 120%;
 margin-top: 3%;
}

#AdicionarCartao{
 font-family: 'Roboto', 'Oxygen', sans-serif;
 color: #ffffff;
 font-size: 160%;
 text-align: center;
 margin-top: 5%;
 margin-bottom: 2%;
 margin-left: 37%;
 background-color: #ff9a00;
 border-radius: 30px 30px 30px 30px;
 width: 345px;
 height: 50px;
 border: none;
 border-style: none;
}

#AdicionarCartao:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}


.PagarEntrega{
 color: white;
 background-color:#bc1823;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 20px;
 text-align: center;
 margin-top: 2%;
 margin-bottom: 10%;
}

.escolher-cartao{
 margin-left: 5%;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 box-shadow: 0 4px 8px silver;
 width: 10%;
 margin-top: -70px;
 margin-bottom: 20%;
}

.dinheiro{
 margin-left: 30%;
 margin-top: -33%;
 font-family: 'Roboto', 'Oxygen', sans-serif;
 box-shadow: 0 4px 8px silver;
 width: 17%;
}

.ender-pix{
 color: black;
 font-family: 'Roboto', 'Oxygen', sans-serif;
}



.tit-troco{
 font-family: 'Roboto', 'Oxygen', sans-serif;
 font-size: 30px;
 color: black;
 margin-left: 70%;
 margin-top: -120px;
}

.troco {
  background: white;
  gap: 25px;
  width: 200px;
  height: 30px;
  margin-left: 70%;
  margin-top: 1%;
  box-shadow: 0 4px 8px silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-color: #ff9a00;
  border-width: 1px;
  border-style: solid;  
}

.troco input {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.troco button {
  background-color: white;
  border: none;
  border-style: none;
}

.troco button:hover { 
  background-color: white;
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

.troco img {
  width: 25px;
  background-color: #ff9a00;
}

#FinalizarPagamento{
 font-family: 'Roboto', 'Oxygen', sans-serif;
 color: #ffffff;
 font-size: 160%;
 text-align: center;
 margin-top: 10%;
 margin-left: 37%;
 background-color: #ff9a00;
 border-radius: 30px 30px 30px 30px;
 width: 345px;
 height: 50px;
 border: none;
 border-style: none;
 margin-bottom: 30%;
}

#FinalizarPagamento:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

.ajuste{
 color: #ffffff;
 display: flex;
 margin-bottom: -30%;
}