* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #ffffff;
  font: normal bold 23px 'Nunito', sans-serif;
  margin: 0px 10px;
}

.texto {
  color: #ffffff;
  font: normal 700 16px 'Roboto', sans-serif;
  text-align: center;
  margin: 20px 10px 35px 10px;
}

.caixa {
  background-color: #bc1823;
  width: 520px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  position: relative;
  margin: 20px;
}

.inputs {
  width: 540px;
}

#email,
.button {
  width: 520px;
  display: flex;
  justify-content: center;
}

input {
  background-color: #efefef;
  width: 520px;
  height: 48px;
  font: normal normal 16px 'Roboto', sans-serif;
  margin-bottom: 20px;
  padding: 5px 15px;
  border: none;
}

button {
  background-color: #ff9a00;
  color: #ffffff;
  width: 500px;
  height: 48px;
  font: normal 700 16px 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#x-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}

#x-icon img {
  width: 30px;
}
