#titulo01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  margin-left: 10%;
  margin-top: 14%;
}

#p01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 120%;
  margin-left: 10%;
  margin-top: 3%;
}

#botao01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 160%;
  text-align: center;
  margin-top: 3%;
  margin-left: 12%;
  background-color: #ff9a00;
  border-radius: 30px 30px 30px 30px;
  width: 345px;
  height: 50px;
  border: none;
  border-style: none;
  
}

#botao01:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#x-cheese, #x-tudo{
  width: 260px;
}

#x-cheese {
  float: right;
  margin-right: 30%;
  margin-top: -22%;
}

#x-tudo {
  float: right;
  margin-right: 5%;
  margin-top: -14%;
}

#x-cheese:hover, #x-tudo:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#titulo02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  text-align: center;
  margin-top: 5%;
}

#star {
  width: 90px;
}

#p02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 230%;
  margin-top: 5%;
  text-align: center;
}

#botao02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 160%;
  text-align: center;
  margin-top: 4%;
  margin-left: 35%;
  background-color: #ff9a00;
  border-radius: 30px 30px 30px 30px;
  width: 400px;
  height: 45px;
  border: none;
  border-style: none;
}

#botao02:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#clique {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin-top: 5%;
  font-size: 100%;
  text-align: center;
}

#aqui {
  background-color: white;
  color: black;
}

#smile, #heart, #like, #shopping, #smile2, #clap {
  width: 100px;
}

#smile {
  float: right;
  margin-right: 18%;
  margin-top: -9%;
} 

#heart {
  float: right;
  margin-right: 5%;
  margin-top: -13%;
} 

#like {
  float: right;
  margin-right: 12%;
  margin-top: -25%;
}

#shopping {
  float: left;
  margin-left: 18%;
  margin-top: -10%;
}

#smile2 {
  float: left;
  margin-top: -25%;
  margin-left: 12%;
}

#clap {
  float: left;
  margin-top: -15%;
  margin-left: 2%;
}

#titulo03 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  margin-top: 6%;
  margin-left: 10%;
}

#p03 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 150%;
  text-align: justify;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

#logo {
  width: 230px;
  float: right;
  margin-right: 25%;
  margin-top: -15%;
}

#logo:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#contato {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin-top: 3%;
  margin-left: 10%;
  line-height: 1.7cm;
}

#email, #localization, #call {
  width: 4%;
  height: 8%;
}

#email:hover, #localization:hover, #call:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#titulo04 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  text-align: center;
  margin-top: 6%;
}

#comentario {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 110%;
  text-align: center;
  width: 300px;
  height: 280px;
  border-color: #ff9a00;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

#cmt01, #cmt02, #cmt03, #cmt04 {
  width: 90%;
  height: 18%;
}

#caixa-cmt {
  width:100%;
  height: 60%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#adcomentario {
  background: white;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 3%;
  margin: 0 auto;
  padding: 12px;
  border-color: #ff9a00;
  border-width: 2px;
  border-style: solid;  
  border-radius: 10px 10px 10px 10px;
}

#adcomentario input {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#adcomentario button {
  background-color: white;
  border: none;
  border-style: none;
}

#adcomentario button:hover {
  background-color: white;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

#adcomentario img {
  width: 30px;
}

#av {
  position: relative;
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;

}

#nota1 {
  text-align: center;
  border: none;
  color: #ff9a00;
  margin-top: 8%;
  font-size: 25px;
}

#ajustescrollsobre {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}


/* Ajuste responsividade*/

@media only screen and (max-width: 1285px) {
  #x-cheese, #x-tudo {
    width: 270px;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 110px;
  }
}

@media only screen and (max-width: 1272px) {
  #x-cheese, #x-tudo {
    width: 265px;
  }
  #botao02 {
    margin-left: 31%;
  }
}

@media only screen and (max-width: 1250px) {
  #x-cheese, #x-tudo {
    width: 260px;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 100px;
  }
}

@media only screen and (max-width: 1235px) {
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 95px;
  }
}

@media only screen and (max-width: 1227px) {
  #x-cheese, #x-tudo {
    width: 255px;
  }
}

@media only screen and (max-width: 1205px) {
  #x-cheese, #x-tudo {
    width: 250px;
  }
  #x-cheese {
    float: right;
    margin-right: 25%;
  }
  #x-tudo {
    float: right;
    margin-right: 3%;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 90px;
  }
}

@media only screen and (max-width: 1190px) {
  #x-cheese, #x-tudo {
    width: 240px;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 85px;
  }
}

@media only screen and (max-width: 1160px) {
  #x-cheese, #x-tudo {
    width: 230px;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 80px;
  }
}

@media only screen and (max-width: 1140px) {
  #x-cheese, #x-tudo {
    width: 220px;
  }
  #adcomentario {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 75px;
  }
  #logo{
    margin-top: -18%;
  }
}

@media only screen and (max-width: 1140px) {
  #smile, #heart, #shopping, #clap {
    width: 90px;
  }
  #smile2, #like {
    width: 0;
  }
}

@media only screen and (max-width: 1090px) {
  #x-cheese, #x-tudo {
    width: 210px;
  }
}

@media only screen and (max-width: 1060px) {
  #x-cheese, #x-tudo {
    width: 205px;
  }
}

@media only screen and (max-width: 1030px) {
  #x-cheese, #x-tudo {
    width: 190px;
  }
  #logo{
    margin-top: -20%;
  }
}

@media only screen and (max-width: 1005px) {
  #x-cheese{
    width: 0;
  }
  #x-tudo {
    width: 270px;
    float: right;
    margin-right: 5%;
    margin-top: -24%;
  }
  #x-tudo:hover {
    -webkit-transform: none;
    transform: none;
  }
  #titulo01 {
    margin-top: 20%;
  }
  #botao02 {
    margin-left: 30%;
  }
  #logo{
    margin-top: -22%;
    margin-right: 20%;
  }
}

@media only screen and (max-width: 950px) {
  #x-tudo {
    margin-top: -26%;
  }
  #smile, #heart, #shopping, #clap {
    width: 0;
  }
  #star {
    width: 80px;
  }
  #titulo02 {
    margin-top: 12%;
  }
  #botao02 {
    margin-left: 29%;
  }
  #titulo04 {
    margin-top: 12%;
  }
  #logo{
    margin-right: 15%;
  }
}

@media only screen and (max-width: 930px) {
  #x-tudo {
    width: 250px;
  }
  #botao02 {
    margin-left: 27%;
  }
  #logo{
    margin-top: -23%;
  }
}

@media only screen and (max-width: 880px) {
  #x-tudo {
    width: 245px;
  }
  #star {
    width: 65px;
  }
  #titulo01, #titulo02, #titulo03, #titulo04 {
    font-size: 320%;
  }
  #p01 {
    font-size: 130%;
  }
  #botao01 {
    font-size: 140%;
    width: 300px;
    height: 40px;
  }
  #p02 {
    font-size: 190%;
  }
  #botao02 {
    font-size: 140%;
    width: 360px;
    height: 40px;
    margin-left: 29%;
  }
  #p03 {
    font-size: 150%;
  }
  #contato {
    font-size: 100%;
    margin-top: 1%;
  }
  #logo {
    width: 215px  ;
  }
}

@media only screen and (max-width: 840px) {
  #botao02 {
    margin-left: 26%;
  }
}

@media only screen and (max-width: 820px) {
  #x-tudo {
    width: 230px;
  }
  #logo {
    width: 200px  ;
  }
  #botao02 {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 785px) {
  #x-tudo {
    width: 220px;
  }
  #botao02 {
    margin-left: 26%;
  }
  #logo {
    width: 170px;
    margin-right: 15%;
    margin-top: -22%;
  }
}

@media only screen and (max-width: 770px) {
  #x-tudo {
    width: 210px;
  }
  #logo {
    width: 165px;
  }
}

@media only screen and (max-width: 760px) {
  #x-tudo {
    width: 200px;
  }
  #logo {
    width: 160px;
  }
}

@media only screen and (max-width: 755px) {
  #x-tudo {
    width: 190px;
  }
  #botao02 {
    margin-left: 25%;
  }
  #logo {
    margin-right: 13%;
    margin-top: -22%;
  }
}

@media only screen and (max-width: 745px) {
  #x-tudo {
    width: 185px;
  }
  #logo {
    width: 150px;

  }
}

@media only screen and (max-width: 725px) {
  #x-tudo {
    width: 0;
  }
  #titulo01, #p01 {
    text-align: center;
    margin: 0;
  }
  #titulo01 {
    margin-top: 20%;
  }
  #botao01 {
    margin-left: 29%;
  }
  #botao02 {
    margin-left: 25%;
  }
  #titulo01, #titulo02, #titulo03 {
    font-size: 290%;
  }
  #p01 {
    font-size: 110%;
  }
  #botao01, #botao02 {
    font-size: 130%;
  }
  #p02 {
    font-size: 160%;
  }
  #p03 {
    font-size: 140%;
  }
  #titulo04 {
    font-size: 270%;
  }
}

@media only screen and (max-width: 700px) {
  #titulo01 {
    margin-top: 22%;
  }
  #botao01 {
    margin-left: 28%;
  }
  #titulo02 {
    font-size: 280%;
  }
  #botao02 {
    margin-left: 23%;
  }
}

@media only screen and (max-width: 680px) {
  #p01 {
    margin-top: 5%;
  }
  #botao01 {
    margin-left: 25%;
  }
  #botao02 {
    margin-left: 21%;
  }
  #logo {
    margin-top: -27%;
  }
}

@media only screen and (max-width: 586px) {
  #titulo01, #titulo02, #titulo03 {
    font-size: 270%;
  }
  #p01 {
    font-size: 90%;
  }
  #botao01 {
    margin-left: 24%;
  }
  #botao02 {
    margin-left: 19%;
  }
  #botao01, #botao02 {
    font-size: 110%;
  }
  #p02 {
    font-size: 140%;
  }
  #p03 {
    font-size: 120%;
  }
  #titulo04 {
    font-size: 240%;
  }
}

@media only screen and (max-width: 566px) {
  #titulo01, #titulo02, #titulo03 {
    font-size: 250%;
  }
  #star {
    width: 60px;
  }
}

@media only screen and (max-width: 535px) {
  #logo {
    width: 0;
  }
  #botao01 {
    margin-left: 22%;
  }
  #botao02 {
    margin-left: 17%;
  }
}

@media only screen and (max-width: 529px) {
  #botao01 {
    margin-left: 22%;
  }
  #botao02 {
    margin-left: 17%;
  }
}