#titulo01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  margin-left: 10%;
  margin-top: 14%;
}

#p01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 120%;
  margin-left: 10%;
  margin-top: 3%;
}

#botao01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 160%;
  text-align: center;
  margin-top: 3%;
  margin-left: 12%;
  background-color: #ff9a00;
  border-radius: 30px 30px 30px 30px;
  width: 345px;
  height: 50px;
  border: none;
  border-style: none;
  
}

#botao01:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#x-cheese {
  float: right;
  margin-right: 30%;
  margin-top: -22%;
}

#x-cheese:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#x-tudo {
  float: right;
  margin-right: 5%;
  margin-top: -14%;
}

#x-tudo:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#titulo02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  text-align: center;
  margin-top: 5%;
}

#star {
  width: 90px;
}

#p02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 240%;
  margin-top: 5%;
  text-align: center;
}

#botao02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  font-size: 160%;
  text-align: center;
  margin-top: 4%;
  margin-left: 35%;
  background-color: #ff9a00;
  border-radius: 30px 30px 30px 30px;
  width: 400px;
  height: 45px;
  border: none;
  border-style: none;
}

#botao02:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#clique {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin-top: 5%;
  font-size: 100%;
  text-align: center;
}

#aqui {
  background-color: white;
  color: black;
}

#smile {
  position: absolute;
  top: 165%;
  right: 22%;
} 

#smile:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#heart {
  position: absolute;
  top: 1020px;
  right: 25px;
} 

#heart:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#like {
  position: absolute;
  top: 870px;
  right: 150px;
}

#like:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#shopping {
  position: absolute;
  left: 25px;
  top: 980px;
}

#shopping:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#smile2 {
  position: absolute;
  top: 870px;
  left: 150px;
}

#smile2:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#clap {
  position: absolute;
  top: 160%;
  left: 20%;
}

#clap:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#titulo03 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  margin-top: 6%;
  margin-left: 10%;
}

#p03 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 150%;
  text-align: justify;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

#logo {
  width: 17%;
  height: 30%;
  float: right;
  margin-right: 25%;
  margin-top: -15%;
}

#logo:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#contato {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  margin-top: 5%;
  margin-left: 20%;
  line-height: 1.7cm;
}

#email {
  width: 4%;
  height: 8%;
}

#email:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#localization {
  width: 4%;
  height: 8%;
}

#localization:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#call {
  width: 4%;
  height: 8%;
}

#call:hover {
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

#titulo04 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 350%;
  text-align: center;
  margin-top: 6%;
}

#comentario01 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 110%;
  text-align: center;
  margin-top: 2%;
  margin-left: 2%;
  width: 300px;
  height: 310px;
  border-color: #ff9a00;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

#comentario01:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#cmt01 {
  margin-top: 13%;
  width: 90%;
  height: 18%;
}

#comentario02 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 110%;
  text-align: center;
  margin-left: 2%;
  width: 300px;
  height: 310px;
  border-color: #ff9a00;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

#paulo {
  font-size: 90%;
}

#comentario02:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#cmt02 {
  margin-top: 9%;
  width: 90%;
  height: 18%;
}

#comentario03 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 110%;
  text-align: center;
  margin-left: 2%;
  width: 300px;
  height: 310px;
  border-color: #ff9a00;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
}

#comentario03:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#cmt03 {
  margin-top: 10%;
  width: 90%;
  height: 18%;
}

#caixa-cmt {
  flex-wrap: wrap;
}

#adcomentario {
  background: white;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 3%;
  padding: 12px;
  border-color: #ff9a00;
  border-width: 2px;
  border-style: solid;  
  border-radius: 10px 10px 10px 10px;
}

#adcomentario input {
  background-color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

#adcomentario button {
  background-color: white;
  border: none;
  border-style: none;
}

#adcomentario button:hover {
  background-color: white;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

#adcomentario img {
  width: 30px;
}

#av {
  position: relative;
  margin-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;

}

#s1, #s2, #s3, #s4, #s5 {
  width: 50px;
  margin-left: -2%;
}

#ajustescrollsobre {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}

@media (max-width: 1280px) {
  #x-cheese, #x-tudo {
    width: 270px;
  }
  #smile {
    float: right;
    margin-right: -2%;
    margin-top: -20%;
  }
  #clap {
    position: relative;
    margin-left: 2%;
    margin-top: -7%;
  }
  #titulo04 {
    margin-top: 10%;
  }
  #comentario01 {
    margin-top: 3.3%;
  }
  #comentario02 {
    margin-top: -37%;
  }
  #comentario03 {
    margin-top: -37%;
  }
  #adcomentario {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (max-width: 1024px) {
  #x-cheese, #x-tudo {
    width: 220px;
  }
  #x-cheese {
    float: right;
    margin-right: 28%;
    margin-top: -23%;
  }
  #x-tudo {
    float: right;
    margin-right: 4%;
    margin-top: -7%;
  }
  #titulo01 {
    font-size: 300%;
    margin-top: 17%;
  }
  #p01 {
    font-size: 140%;
  }
  #star {
    width: 80px;
  }
  #titulo02, #titulo03, #titulo04 {
    font-size: 300%;
  }
  #p02 {
    font-size: 200%;
  }
  #botao01 {
    margin-top: 7%;
    margin-bottom: 3%;
  }
  #botao02 {
    margin-left: 30%;
  }
  #smile, #heart, #like, #shopping, #smile2, #clap {
    width: 80px;
  }
  #smile {
    float: right;
    margin-right: -15%;
    margin-top: -20%;
  }
  #heart {
    float: right;
    margin-right: 2%;
    margin-top: -5%;
  }
  #like {
    float: right;
    margin-right: 1%;
  }
  #shopping {
    float: left;
    margin-left: 4%;
    margin-top: -20%;
  }
  #smile2 {
    float: left;
    margin-left: 2%;
  }
  #clap {
    float: left;
    margin-left: -12%;
    margin-top: -7%;
  }
  #p03 {
    font-size: 160%;
  }
  #contato{
    font-size:  120%;
    margin-top: 1%;
  }
  #email, #localization, #call {
    width: 40px;
  }
  #logo {
    width: 200px;
    float: right;
    margin-right: 15%;
    margin-top: -20%;
  }
  #comentario01 {
    margin-top: 3.3%;
    margin-left: 3%;
  }
  #comentario02 {
    margin-top: 1.5%;
  }
  #comentario03 {
    margin-top: 1.5%;
  }
}